   :root {
       --COLORA: #000099;
       --COLORB: #8080ff;
  }

   h1 {
       color: var(--COLORB);
       font-size: 36pt;
       text-decoration: none;
       padding: 0px 0px 0px 0px;
       font-family: 'Lobster', cursive;
       text-align: center;
   }

   body {
        background-color: var(--COLORA);
        margin: 0;
        padding: 0;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        
    }
    .post {
        width: 800px;
        margin: 10px auto 10px;
        padding: 50px;
        background-color: var(--COLORB);
        border-radius: 1em;
    }

    .posttitle {
	font-size: 20pt;
	color: var(--COLORA); 
    }
    .postdate {
	font-size: 12pt;
	color: var(--COLORA); 
    }
    a:link, a:visited {
        color: #38488f;
        text-decoration: none;
    }
    @media (max-width: 700px) {
        body {
            background-color: #fff;
        }
        div {
            width: auto;
            margin: 0 auto;
            border-radius: 0;
            padding: 1em;
        }
    }
 
   .menu {
       width: auto;
       margin: 0 ;
       border-radius: 0;
       background-color: var(--COLORB);
       margin-top: 0;
       margin-bottom: 0;
       padding: 0px 0px 0px 0px;
      
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
    }
   .menu h1 {
       color: var(--COLORA);
       font-size: 24pt;
       padding: 0px 0px 0px 20px;
       text-align: left;
   }
   .menu ul {
       width: auto;
       list-style-type: none;
       height: 46px;
       margin: 0;
       padding: 0;
       overflow: visible;
       background-color: var(--COLORA);
       font-size: 16pt;

   }

   .menu li {
       float: left;
   }

   .menu li a {
       vertical-align: middle;
       display: block;
       color: white;
       text-align: left;
       padding: 8px 16px;
       text-decoration: none;
       height: 30px;
   }

   .menuimg{
       padding: 0;
       margin-top: 140px ;
       border-radius: 0;
       background-color: var(--COLORB);
       height: 300px;
       width: 1920px;
       max-width: 100%;
       
   }
   li a:hover:not(.active) {
       background-color: var(--COLORB);
   }
   
   .active {
       background-color: var(--COLORB);
       margin: 0;
   }