<!doctype html>
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" >
    
</head>

<body>
{% include "includes/menu.html" %}


    <h1>{{ name }}</h1>
    {% block content %} 
    {% endblock %}
    {% block footer %}
    <hr>
    <p>Thanks for visiting my site.</p>
    {% endblock %}

</body>
</html>
